<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>This package will install an additional policy trigger onto client machines that are managed by the Casper Suite.  The policy trigger will check for policies whenever a system configuration changes.  This includes network changes.  For example, when changing from a wireless to a wired network, the client will then check up on the JSS to see if there are any policies in scope for the "SystemConfigTrigger" trigger.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>System Configuration Trigger</string>
</dict>
</plist>
